# Useful `.gitignore` templates:
# https://github.com/github/gitignore

# ----------------------------------------------------------------------
# | Linux                                                              |
# ----------------------------------------------------------------------
*~

# ----------------------------------------------------------------------
# | Miscellaneous                                                      |
# ----------------------------------------------------------------------
node_modules
npm-debug.log
.envrc

# ----------------------------------------------------------------------
# | macOS                                                              |
# ----------------------------------------------------------------------
._*
.AppleDouble
.DS_Store
.localized
.LSOverride
.Spotlight-V100
.Trashes
Icon

# ----------------------------------------------------------------------
# | Windows                                                            |
# ----------------------------------------------------------------------
Desktop.ini
ehthumbs.db
Thumbs.db

# ----------------------------------------------------------------------
# | Jetbranis ide                                                        |
# ----------------------------------------------------------------------
.idea/
*.iml
*.ipr
*.iws
out/
.idea_modules/
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties%

