[General]
Show_Labels=false
Number_Chips=5

[Chip0]
Name=coretemp-0
Number=0

[Chip0_Feature0]
Address=0
Name=Package id 0
Color=#bac3cf
Show=true
Min=0.00
Max=47.00

[Chip1]
Name=BAT0-0
Number=1

[Chip2]
Name=iwlwifi_1-0
Number=2

[Chip3]
Name=nvme-200
Number=3

[Chip4]
Name=ACPI
Number=4

