[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/master/Desktop/note]
row=4
col=17

[C66A13566A13429B]
row=3
col=17

[A1FC-629B]
row=5
col=17

[Trash]
row=2
col=17

[/]
row=0
col=17

[/home/master]
row=1
col=17

